<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>502446479037556</sid>
    <event-sheet>Menu</event-sheet>
    <size>
        <width>450</width>
        <height>800</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Background" sid="459222139455527">
            <initially-visible>1</initially-visible>
            <background-color>0,0,0</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Logo" uid="23">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>226.045333862</x>
                        <y>147.243408203</y>
                        <z>0</z>
                        <width>385.612884521</width>
                        <height>135.485610962</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="ResumeButton" uid="24">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>222.968429565</x>
                        <y>728.007873535</y>
                        <z>0</z>
                        <width>49.936862946</width>
                        <height>49.936862946</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.50220263</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="PauseText" uid="25">
                    <properties>
                        <text>Touch To Begin!</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Consolas,-32,700,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Center</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>228</x>
                        <y>667</y>
                        <z>0</z>
                        <width>278</width>
                        <height>66</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="StaticText" uid="26">
                    <properties>
                        <text>Instructions:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Consolas,-29,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>15.969680786</x>
                        <y>234.497299194</y>
                        <z>0</z>
                        <width>255.880889893</width>
                        <height>44.309051514</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Pipe" uid="29">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Active>false</Active>
                        <DestroyCallBack>ResetPipe</DestroyCallBack>
                        <SpawnedNext>false</SpawnedNext>
                        <PlayerIn>false</PlayerIn>
                        <PointsEarned>0</PointsEarned>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>400</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Disabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>49.244155884</x>
                        <y>379.558807373</y>
                        <z>0</z>
                        <width>86.875671387</width>
                        <height>50</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>1.570796371</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="PipeTop" uid="30">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Pin" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>49.515563965</x>
                        <y>332.485412598</y>
                        <z>0</z>
                        <width>70</width>
                        <height>12.56400013</height>
                        <depth>0</depth>
                        <hotspotX>0.504273534</hotspotX>
                        <hotspotY>0.523809552</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="PipeGate" uid="31">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Hit>false</Hit>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Pin" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>48.516616821</x>
                        <y>420.865692139</y>
                        <z>0</z>
                        <width>70</width>
                        <height>12.56400013</height>
                        <depth>0</depth>
                        <hotspotX>0.495726496</hotspotX>
                        <hotspotY>0.523809552</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Player" uid="33">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <CurrentShrinkTimeElapsed>0</CurrentShrinkTimeElapsed>
                        <CurrentSlowTimeElapsed>0</CurrentSlowTimeElapsed>
                        <CurrentPipeUID>-1</CurrentPipeUID>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Timer" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>37.194274902</x>
                        <y>289.700317383</y>
                        <z>0</z>
                        <width>32</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="StaticText" uid="27">
                    <properties>
                        <text>&lt;-- You! Drag to move.</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Consolas,-16,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>59.00289917</x>
                        <y>280.839263916</y>
                        <z>0</z>
                        <width>202.726043701</width>
                        <height>22.502532959</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="StaticText" uid="28">
                    <properties>
                        <text>Pipe. Score while inside. Score value determined by level and combo.</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Consolas,-16,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>123.742767334</x>
                        <y>338.761352539</y>
                        <z>0</z>
                        <width>305.627807617</width>
                        <height>66.117675781</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="StaticText" uid="34">
                    <properties>
                        <text>Pipe Gate. Hit to keep combo. Miss and the enemy spawn rate increases.</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Consolas,-16,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>123.740692139</x>
                        <y>409.638305664</y>
                        <z>0</z>
                        <width>312.44354248</width>
                        <height>65.434844971</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Enemy" uid="35">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Active>false</Active>
                        <DestroyCallBack>DisableFaller</DestroyCallBack>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>1</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Disabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>32.424957275</x>
                        <y>497.546142578</y>
                        <z>0</z>
                        <width>24</width>
                        <height>24</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>1.570796371</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="StaticText" uid="36">
                    <properties>
                        <text>&lt;-- Enemy. Kills you.</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Consolas,-16,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>54.232513428</x>
                        <y>490.049682617</y>
                        <z>0</z>
                        <width>187.052368164</width>
                        <height>22.502532959</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="PowerUp" uid="37">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Active>false</Active>
                        <DestroyCallBack>DisableFaller</DestroyCallBack>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>400</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>No</set-angle>
                                <initial-state>Disabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>34.46925354</x>
                        <y>541.840698242</y>
                        <z>0</z>
                        <width>32</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>1.570796371</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="StaticText" uid="38">
                    <properties>
                        <text>&lt;-- Power Up. Protects you and buffs you.</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Consolas,-16,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>57.639343262</x>
                        <y>533.663513184</y>
                        <z>0</z>
                        <width>371.731231689</width>
                        <height>22.502532959</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="ComboCoin" uid="39">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Active>false</Active>
                        <DestroyCallBack>DisableFaller</DestroyCallBack>
                        <Value>0</Value>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>1</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Disabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>33.106750488</x>
                        <y>588.861694336</y>
                        <z>0</z>
                        <width>24</width>
                        <height>24</height>
                        <depth>0</depth>
                        <hotspotX>0.49494949</hotspotX>
                        <hotspotY>0.50505048</hotspotY>
                        <angle>1.570796371</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="StaticText" uid="40">
                    <properties>
                        <text>&lt;-- Combo Coin. Increases your combo.</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Consolas,-16,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>56.957565308</x>
                        <y>579.320922852</y>
                        <z>0</z>
                        <width>371.731231689</width>
                        <height>22.502532959</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="PipeSides" uid="32">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Pin" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>48.516601563</x>
                        <y>376.43270874</y>
                        <z>0</z>
                        <width>80.061035156</width>
                        <height>70</height>
                        <depth>0</depth>
                        <hotspotX>0.503355682</hotspotX>
                        <hotspotY>0.504273534</hotspotY>
                        <angle>1.570796371</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="StaticText" uid="42">
                    <properties>
                        <text>&lt;--</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Consolas,-16,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>86.942321777</x>
                        <y>409.63885498</y>
                        <z>0</z>
                        <width>187.052368164</width>
                        <height>22.502532959</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="StaticText" uid="43">
                    <properties>
                        <text>&lt;--</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Consolas,-16,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>87.623062134</x>
                        <y>337.401489258</y>
                        <z>0</z>
                        <width>187.052368164</width>
                        <height>22.502532959</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="BestScore" uid="45">
                    <properties>
                        <text>Best Score: 0</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Consolas,-24,700,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>9.432296753</x>
                        <y>38.917255402</y>
                        <z>0</z>
                        <width>437.151916504</width>
                        <height>36.133934021</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Star" uid="46">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <instance-variables>
                        <Active>false</Active>
                        <DestroyCallBack>DisableFaller</DestroyCallBack>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>1</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>469.427062988</x>
                        <y>374.8828125</y>
                        <z>0</z>
                        <width>4</width>
                        <height>4</height>
                        <depth>0</depth>
                        <hotspotX>0.504950523</hotspotX>
                        <hotspotY>0.504950523</hotspotY>
                        <angle>1.570796371</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="StaticText" uid="47">
                    <properties>
                        <text>Score: 0</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Consolas,-24,700,0</font>
                        <color>255,255,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>14.543060303</x>
                        <y>6.206466675</y>
                        <z>0</z>
                        <width>255.880889893</width>
                        <height>30.679718018</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
